<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/sidebar.css">
</head>
<body>
    <div class="side-bar">
        
        <div class="header-side-bar">
                <%- include('header'); -%>
                <div class="body-sidebar">
                    <h2 class="h2-user-connected">In room</h2>
                    <div class="all-user-connected">

                    </div>
                </div>

                <form id="form-logout" action="/logout" method="POST">
                    <input id="btn-logout"  type="submit" value="Salir del chat">
                </form>

        </div>


    </div>
</body>
</html>