<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <!-- AUTHOR -->
    <!-- CHAT MADE BY JAIR HUAMAN BELLIDO -->
    <link rel="stylesheet" href="../public/css/chat.css">
</head>

<body>

    <div class="container-chatpage">

            <%- include('partials/sidebar'); -%>

            <div class="container-chat">
                <div class="header-chat" id="">
                    <img id="myAvatar" src="<%=avatar%>" width="48" height="48" alt="">
                    <h3 class="header-user" id="<%=username%>"><%= username %></h3>
                </div>

                <div class="chat-screen">
                    <div id="container-message" class="all-messages"></div>
                    <div class="field-chat">
                        <input autofocus onkeypress="typeKeyboard(event)" id="field-message" type="text" placeholder="Escribe un mensaje">
                        <button onclick="sendMessage()">
                            <img src="/public/assets/send-message-button.svg" alt="">
                        </button> 
                    </div>

                </div>

            
            
            
                </div>

            </div>


    </div>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/chat.js"></script>

</body>

</html>