.side-bar{
    width: 400px;
    height: 100vh;
    display: flex;
    box-shadow: 0 0 17px 6px rgba(0,0,0,.1);
    padding: 24px 32px;
    display: flex;
    justify-content: center;
    position: relative;
}

.header-side-bar{
    width: 100%;
}

.h2-user-connected{
    margin-top: 2em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: #6B7094;
    font-size: 20px;
    text-align: left;
}
.newUser{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}
.newUser img{
    border-radius: 50px;
    
}
.username-sb{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #6B7094;
    font-weight: 400;
    margin-left: 12px;
}