.side-bar{
    width: 400px;
    height: 100vh;
    display: flex;
    padding: 24px 32px;
    display: flex;
    justify-content: center;
    position: relative;
    background: #fafafa;
    overflow: hidden;
}

.header-side-bar{
    width: 100%;
}

.h2-user-connected{
    margin:1em 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: #6B7094;
    font-size: 20px;
    text-align: left;
}
.newUser{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    background: #fafafa;
}

.newUser img{
    border-radius: 50px;
    
}
.username-sb{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #494c65;
    font-weight: 400;
    font-weight: 700;
    text-align: left;
}
.all-user-connected{
    height: 60vh;
    overflow: auto;
}

#form-logout{
    width: fit-content;

    margin: 0 auto;
}

#btn-logout{
    padding: 12px 8px;
    width: 200px;
    border-radius: 999999px;
    border: none;
    background: rgb(250, 101, 124);
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    
}
#btn-logout:focus{
    transition: all .2s ease-in-out;
    transform: scale(.85);
}
.username-status{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    width: 100% ;
    overflow: hidden;
    white-space: nowrap;
}
.lastMessageUser{
    font-size: 16px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}